<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340549063781-t7ol4b48t7neuprj8ri6mp78b1saem15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340549063781-t7ol4b48t7neuprj8ri6mp78b1saem15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>340549063781-3nuatdbrdnc2sbe2410nv95h8oqnp3ks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDx-hNpxGrpFx2YzUK3du4GusLTr4UaOo0</string>
	<key>GCM_SENDER_ID</key>
	<string>340549063781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mk.naamJap.app</string>
	<key>PROJECT_ID</key>
	<string>daily-spiritual-toolkit</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-spiritual-toolkit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340549063781:ios:036237fe9df4224040228c</string>
</dict>
</plist>